<main class="container">
  <p class="alert alert-info flex justify center max-w-4xl" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
  <header class="header">
  <span class="logo"></span>
</header>
</main>
